<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">    
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="robots" content="noindex" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <META NAME="geo.position" CONTENT="latitude; longitude">
      <META NAME="geo.placename" CONTENT="Place Name">
      <META NAME="geo.region" CONTENT="Country Subdivision Code">
      <title>Stephanie Alysha Living And Design</title>
      {{!-- <description>Transform your space and your life with designer Stephanie Alysha. Feng Shui master with essential oils, staging, administrative and real estate solutions.</description> --}}

    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{seo.title}}</title>
    
    <!-- Meta tags for SEO and social sharing -->
    <link rel="canonical" href="{{seo.url}}">
    <meta name="description" content="{{seo.description}}">
    <meta property="og:title" content="{{seo.title}}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{seo.url}}">
    <meta property="og:description" content="{{seo.description}}">
    <meta property="og:image" content="{{seo.image}}">
    <meta name="twitter:card" content="summary">

         <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- BOOTSTRAP THEME -->
        <link rel="stylesheet" href="../css/bootstrap.min.css">

        <!-- CUSTOM STYLES --> 
        <link rel="stylesheet" href="../css/styles.css">
        
        <!-- NAVBAR -->
    <nav class="navbar navbar-dark">
        <div class="container mb-5 mt-5 pb-5 pt-1">
    <!-- THE BENEFITS COLUMNS -->
        <div class="row">
            <div class="col-lg-4">
                <img src="../images/SAlysha-name-only.jpg" alt="Stephanie Alysha Living And Design Logo" class="img-fluid rounded">
            </div>   
            
            <div class="text-white col-lg-4">
                <h1>Stephanie Alysha Living and Design</h1>
                <p class="lead">{{seo.description}}</p>
                <a href="#" class=" center btn btn-primary">Learn More</a>                </div>
            </div>
            
            <div class="col-sm-2">
                    <img src="../images/2021_Headshot.jpg" alt="Stephanie Alysha Living And Design Head Shot" class="img-fluid rounded">
                </div>  
        </div>

        </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Feng Shui & Design</a>
            <a class="nav-item nav-link" href="#">Essential Oils</a>
            <a class="nav-item nav-link" href="#">Aromatherapy</a>
            <a class="nav-item nav-link" href="#">Real Estate & Staging</a>
            <a class="nav-item nav-link" href="/book-now">Book Now</a>
        </div>
        </div>
    </nav>

<!-- HERO -->
    <div class="text-center about-me">
        <h3>About Me</h3>
        <h4>Residential ~ Commercial ~ Real Estate</h4>
        {{!-- <div class="container mb-5 mt-5 pb-5 pt-1 about-me-text"> --}}
    <!-- THE BENEFITS COLUMNS -->
            <div class="row">
        <div class="col-lg-3">
            </div>
        <div class="text-center col-lg-5 about-me-text">
        <p>


I’m a former government analyst and real estate administrative professional trained in Classical Feng Shui, as well as modern-day interior design.

I specialize in co-creating interior spaces with my clients that are visually beautiful but also FEEL good.

</br>

Ask yourself: “How do I *feel* in my home or office?

</br>

When you (or your family or clients) feel good in your home or office, this boosts the overall sense of happiness and well-being of all.

For families and individuals, this means your creativity has room to expand, and your life flows smoother because you simply feel better!

</br>

For businesses, watch productivity and foot traffic increase, and therefore revenue!</p>
        
    </div> 
    </div>
            <div class="col-lg-3">
            </div>
            
</div>
<!-- CALL TO ACTION - Book 1-on-1 now-->
<div class="jumbotron text-center">
        <h1 class = "text-center herotitle">Connect with Stephanie Alysha Living and Design:</h1>
        <h1 class = "text-center herotitle">Optimize your space and make the most of your time</h1>

    <p class="lead mb-4">Book a 1-on-1 Now</p>
    <div class="d-flex justify-content-center">
        
        <button class="btn btn-primary mb-2" onclick="window.location.href='/book-now';">Book Now</button>
        
    </div>
</div>

<!-- Information and Learning -->
<div class="container mb-5 mt-5 pb-5 pt-1">
    <!-- THE BENEFITS COLUMNS -->
    <div class="row">
        <div class="col-lg-3">
            <h4>RESIDENTIAL</h4>
            <p class="lead">remodeling, relocation, redesign, sourcing furniture and materials, organizing, interior and exterior color selection, 
                    landscape planning, space planning, interior decorating, site development
            </p>
        </div>
        <div class="col-lg-3">
            <h4>BUSINESS</h3>           
            <p class="lead">location selection, store fronts, marketing materials, space planning, color & material selection, signage.
            </p>
        </div>
        <div class="col-lg-3">
            <h4>PERSONAL TRANSFORMATION</h4>
            <p class="lead">Take a conscious role in manifesting your dreams and achieving your goals through iconology and intention, Feng Shui, the emotional support of aromatherapy, and delving into your most precious desires.
            </p>
        </div>
        <div class="col-lg-3">
            <h4>REAL ESTATE MARKETING</h4>           
            <p class="lead">Staging, real estate office design, model home complexes, open houses, marketing materials, signage routes, site and community design, landscape planning.
            </p>
        </div>
    </div>    
</div>
</div>

<!-- Information and Learning -->
<div class="container mb-5 mt-5 pb-5 pt-1">
    <h2 class="headertekst">Testimonials</h2>
    <!-- THE BENEFITS COLUMNS -->
    <div class="row">
        <div class="col-lg-5">
            <h3>Julia C.</h3>           
            <p class="lead">“I have been interested in feng shui for many years, and Stephanie has always been there as a resource and a guide. Most recently, she helped me with a problem of too much water in my bedroom, and I was truly drowning in my relationship!! After following her suggestions to rebalance my elements there, I met my future husband just a few weeks later! Additionally, Stephanie introduced me to essential oils, which I found to be a very useful tool in managing my emotional and spiritual life. I am incredibly blessed to have had Stephanie’s help in my life!” 
            </p>
        </div>
        <div class="col-lg-4">
            <h3>Michael M.Design</h3>
            <p class="lead">“I have had amazing results each time Stephanie has performed her abilities to Feng Shui my domicile. I had immediate wonderful results with my personal life after Stephanie changed the energy flow of my home. She is an extremely knowledgeable and has a great intuitive ability to ask the right questions. If you have never had an expert like Stephanie Feng Shui your home, be prepared to be amazed as I was with her ability. ” 
            </p>
        </div>
    </div>    
</div>
</div>



<!-- CALL TO ACTION -->
<div class="jumbotron text-center">
    <h2 class="lead mb-5">Book a consultation before the end of the month, and get a free bottle of essential oil</h2>
        <button class="btn btn-primary mb-2" onclick="window.location.href='/book-now';">Book Now</button>

    <p class="lead mb-4">Sign Up for More Information</p>
    <div class="d-flex justify-content-center">
        <form action="#" class='form-inline'>
            <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Email"/>
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
    </div>
</div>

<!-- FOOTER -->
<div class="p-5 text-white">
    &copy; 2021 Stephanie Alysha Inc
</div>
  </body>
</html>
